*{margin: 0; padding: 0;} 
.MenuStyle {
    height: 100px;
    background: #666666;
    color:white;
}

.MenuStyle ul{
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.MenuStyle ul li {
    list-style: none;
    text-transform: uppercase;
    color: white;
}